@viewport {
    zoom: 1.0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Avantgarde", sans-serif;
    font-size: 16px;
}

@media screen and (max-width : 400px){
    header .title{
        font-size: 8pt;
        display: flex;
    }
}


/* ---------- header --------------------------------------------------------------------------- */
header{
    background-color: slategrey;
    color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 55px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    z-index: 9;
}

header .title{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    vertical-align: middle;
    max-width: 48%;
}



/* ---------- hamburger button styles ---------------------------------------------------------- */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: 10px;
    margin-right: 20px;
  }

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
    padding: 0px;
    margin: 0px;
  }

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
    padding: 0px;
    margin: 0px;
}
.menu-btn__burger::before {
    transform: translateY(-10px);
}
.menu-btn__burger::after {
    transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}



/* ---------- Sidebar -------------------------------------------------------------------------- */

.nav{
    position: fixed;
    top: 55px;
    left: -50%;
    height: 100vh;
    width: 25%;
    background-color: lightgray;
    border-right: 1px solid black;
    transition: .5s;
    z-index: 100;
}


.nav.open {
    position: fixed;
    top: 55px;
    left: 0;
    height: 100vh;
    width: 25%;
    background-color: lightgray;
    border-right: 1px solid black;
    transition: .5s;
}


a.nav:hover, .sidebarDropdownButton:hover, a.sidebarDropdownContainer:hover{
    background-color: gray;
}


a.nav, .sidebarDropdownButton {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 20px 8px 20px 16px;
  left: 0;
  top: 0;
  margin: 0;
  height: auto;
}


.sidebarDropdownContainer {
  display: none;
  background-color: lightgrey;
  transition: .5s;
}


a.sidebarDropdownContainer{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    left: 0;
    text-decoration: none;
    color: black;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-width : 800px) {
    .nav.open{
        width: 45%;
    }
}

@media screen and (max-width : 470px) {
    .nav.open{
        width: 55%;
    }
}

/* ---------- profile button ------------------------------------------------------------------- */

header.dropdown{
    float: right;
}

.dropdownButton{
    position: absolute;
    float: right;
    top: 5px;
    width: 180px;
    height: 45px;
    right: 20px;
    align-items: center;
    display: flex;
}

.dropdownButton :nth-child(3){
    position: absolute;
    right: 3px;
}

.dropdownMenu{
    display: none;
    position: fixed;
    right: 20px;
    top: 45px;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;

}

a.dropdownMenu {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    right: 0;
}

a.dropdownMenu:hover {
    background-color: gray;
}

.dropdownButton span{
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    padding: 5px;
    pointer-events: none;
}

  
.show {
    display: block;
}

@media screen and (max-width : 420px) {
    .dropdownButton{
        width: 25%;
    }

    #buttonUsername{
        width : 0;
        visibility: hidden;
    }
}

/* ---------- tasks space ---------------------------------------------------------------------- */

rect{
    fill: slategrey;
    color: white;
}

h3{
    background-color: slategrey;
    padding: 3px;
    color: white;
    margin-top: 20px;
}

/* ---------- forms ---------------------------------------------------------------------------- */

.newTaskForm {
    visibility: visible;
    display:block;
    position:absolute;
    vertical-align: middle;
    border: 3px solid slategrey;
    background-color: white;
    width: 40%;
    top: 10%;
    z-index: 8;
    box-shadow: 0px 16px 32px 10px rgba(0,0,0,0.2);
    transition: all .5s ease-in-out;
    padding-top: 0;
  }

#myForm{
      height: 86%;
}

#myFormLog{
      height: 50%;
}

#myFormReg{
      height: 70%;
}

.newTask{
    float: right;
}

.popupTitles{
    left: 10%;
    margin-top: 10px;
}

td.titleInput{
    width: 90%;
    margin-bottom: 15px;
}

input.newTaskForm{
    width: 90%;
}

.descInput{
    width: 90%;
    height: 200px;
}

#close{
    left: 5%;

}

#openNewTaskForm{
    float: right;
    display:block;
    position:relative;
}

.buttons{
    position: absolute;
    bottom: 5%;
    padding: 3px;
    margin: 0;
    color: black;
    background-color: white;
    width: auto;
    font-size: medium;
    border-radius: 2px;
    border: 2px outset;
    text-decoration: none;
}

.buttons:hover{
    background-color: slategrey;
}

#submit{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#close{
    position: absolute;
    left: 5%;
    bottom: 5%;
}



.formTable{
    position: relative;
    width: 100%;
    left: 5%;
}

a.formTitle, h4{
    width: 50%;
    color: white;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    margin-top: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    margin-bottom: 25px;
    text-decoration: none;
    border-bottom: 2px slategrey;
}

h4{
    width: 100%;
    background-color: slategrey;
}



#log{
    background-color: slategrey;
}


#reg{
    background-color: black;
}


#on{
    background-color: slategrey;
}

#on:hover{
    background-color: slategrey;
}


#off{
    background-color: black;
}

a.formTitle:hover{
    background-color: darkgray;
}



p.registerInfo{
    position: relative;
    display: block;
    width: 95%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    left: 5%;
    padding-bottom: 10px;
}

body.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

#id_title, #id_description, #id_username, #id_email, #id_password1, #id_password2, #username, #password{
    width: 90%;
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .newTaskForm{
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width: 600px) {
    .newTaskForm{
        width: 90%;
        height: 65%;
    }

    #myFormLog{
        height: 45%;
        width: 90%;

    }

    #myFormReg{
        height: 50%;
    }


}

/* ---------- table --------------------------------------------------------------------------- */

.eventSection{
    align-items: center;
    margin-bottom: 20px;
    margin-top: 3px;
}

.eventSectionSpan{
    border-style: double;
    border-color: black;
    border-width: 2px;
    height: 100px;
    width: 14.28%;
    border-collapse: collapse;
    display: block;
    float: left;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0;
    border-right-width: 1px;
    border-left-width: 1px ;
    margin-top: 3px;

}

h5.day{
    background-color: slategrey;
    margin-top: 0;
    color: white;
}

#leftEvent{
    border-left-width: 2px;
}

#rightEvent{
    border-right-width: 2px;
}




@media screen and (max-width: 600px) {
    .eventSectionSpan {
        width: 100%;
    }
}

/* ---------- smaall task section -------------------------------------------------------------- */

div.taskSection{
    align-items: center;
    
}

.taskSectionSpan {
    display: block;
    width: 33.33%;
    float: left;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
}

#middle{
    border: none;
}

h5{
    width: 100%;
    text-align: center;
}

.taskSmall{
    height: 60px;
    width: 96%;
    background-color: white;
    display: block;
    margin: 2%;
    border: 2px solid slategrey;
    cursor: move;
    border-top: 6px solid slategrey;

}

a.taskSmall:link, a.taskBig:visited{
    color: black;
    text-decoration: none;
    margin: 3px;
}

a.taskSmall:hover{
    text-decoration: underline;
}

p.taskSmall {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.taskSmall.smallTaskDragging{
    background-color: lightgrey;

    
}

.smallToBig:hover{
    text-decoration: underline;
}

a.smallToBig:link, a.smallToBig:visited{
    color: black;
    text-decoration: none;
    margin: 3px;
}

a.update{
    position: relative;
    display: inline-block;
    font-size: 10pt;
    color: slategrey;
    float: right;
    padding-right: 3px;
}

p.status{
    position: relative;
    bottom: 0;
    padding-bottom: 3px;
    padding-top: 6px;
    font-size: 10pt;
}

@media screen and (max-width: 600px) {
    .taskSectionSpan{
        width: 100%;
    }

    h5{
        background-color: slategrey;
        margin-top: 10px;
        color: white;
    }

    #middle{
        border-left: 2px solid lightgrey;
        border-right: 2px solid lightgrey;
    }

    h3{
        text-align: center;
        font-size: 16pt;
    }
}

/* ---------- big task view -------------------------------------------------------------------- */

div.taskBig{
    position: fixed;
    display: None;
    left: 30%;
    top: 25%;
    width: 40%;
    background-color: white;
    z-index: 2;
    height: 50%;
    border: 2px solid slategrey;
    border-top: 8px solid slategrey;
}

button.taskBig {
    position: relative;
    display: inline-block;
    float: right;
    right: 5px;
    border: none;
    border: 2px;
    border-radius: 3%;
    background-color: lightgray;
    border-color: slategrey;
    padding: 2px;
}

/* --------------------------------------------------------------------------------------------- */



img{
    max-width: 20px;
}

.mainScreen{
    position: absolute;
    display: flex;
    left: 10%;
    top: 100px;
    width: 80%;
    margin-right: 10px;
    z-index: 2;
    flex-direction: column;
    flex-grow: 1;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}