{%  extends 'WP/base.html' %}
{% load static %}

{% block content %}

            <!-- new task form pop up
            <div class="newTaskForm" id="myForm">
                <h4>New Task</h4>
                <form method="POST" action="">

                    <button type="submit" id="close" onclick="closeNewTaskWindow()">Close</button>
                    <button type="submit" id="submit" onclick="closeNewTaskWindow()">Create</button>
                </form>
            </div>
            -->


            <!-- main space-->
            <span class="mainScreen">

                <!-- Big taks window -->
                <div class="taskBig" id="bigTaskWindow">
                    Zadanie
                    <button onclick="closeBigTaskWindow()" class="taskBig">x</button>
                </div>

                <!-- buttons -->
                <div>
                    <!--
                    <select id="pname">
                        <option value="1">Previous week</option>
                        <option value="2" selected="selected">This week</option>
                        <option value="3">Next week</option>
                        <option value="4">Next next week</option>
                    </select>
                    -->
                    <a href="{% url 'newtask' %}" class="buttons" id="openNewTaskForm">New task</a>


                </div>

                <!-- Week view table -->
                <div class="eventSection">
                    <span class="eventSectionSpan" id="leftEvent">
                        <h5 class="day">Monday</h5>
                    </span>
                    <span class="eventSectionSpan">
                        <h5 class="day">Tuesday</h5>
                    </span>
                    <span class="eventSectionSpan">
                        <h5 class="day">Wednesday</h5>
                    </span>
                    <span class="eventSectionSpan">
                        <h5 class="day">Thursday</h5>
                    </span>
                    <span class="eventSectionSpan">
                        <h5 class="day">Friday</h5>
                    </span>
                    <span class="eventSectionSpan">
                        <h5 class="day">Saturday</h5>
                    </span>
                    <span class="eventSectionSpan" id="rightEvent">
                        <h5 class="day">Sunday</h5>
                    </span>
                </div>

                <!-- Place for tasks -->
                <h3>Tasks</h3>
                <div class="taskSection">
                    <span class="taskSectionSpan" id="todo">
                        <h5>To do</h5>

                            {% for i in todo %}

                                <div class="taskSmall"  draggable="true">
                                    <a class="smallToBig" onclick="openBigTaskWindow()">{{ i.title }}</a>
                                    <a class="update" href="{% url 'update' i.id %}">edit</a>
                                    <p class="status">{{  i.priority }}</p>
                                </div>

                            {% endfor %}

                    </span>
                    <span class="taskSectionSpan" id="middle">
                        <h5>In progress</h5>
                            {% for i in inProgress %}

                                <div class="taskSmall"  draggable="true">
                                    <a class="smallToBig" onclick="openBigTaskWindow()">{{ i.title }}</a>
                                    <a class="update" href="{% url 'update' i.id %}">edit</a>
                                    <p class="status">{{  i.priority }}</p>
                                </div>

                            {% endfor %}
                    </span>
                    <span class="taskSectionSpan" id="done">
                        <h5>Done</h5>

                            {% for i in done %}

                                <div class="taskSmall"  draggable="true">
                                    <a class="smallToBig" onclick="openBigTaskWindow()">{{ i.title }}</a>
                                    <a class="update" href="{% url 'update' i.id %}">edit</a>
                                    <p class="status">{{  i.priority }}</p>

                                </div>

                            {% endfor %}
                    </span>
                </div>
            </span>

{% endblock %}
